.Home {
  height: 100vh;
  background-color: #ffe5d9;
  /* Light peach */

}

.left-home {
  width: 50%;
}

.right-home img {
  /* width: 450px; */
  transition: all ease-in-out 1s;
}

/* .right-home img:hover{
    transform: scale(1.1);
    transition: all ease-in-out 1s;
} */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.text-animation-title {
  animation: fadeInUp 2s ease-in-out;
}

.text-animation-description {
  animation: fadeInLeft 2s ease-in-out;
}

.text-animation-button {
  animation: fadeInScale 2s ease-in-out;
}

@media (max-width: 448px) {
  .Second-Carousel {
    display: none;
  }

  .Home {
    height: 100%;
    padding: 4px;
  }

  .Home-btn {
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .left-home p {
    font-size: 14px;
    padding-left: 10px;
    /* margin: 10px; */
  }

  .left-home h1 {
    font-size: 21px;
    /* padding-top:10px ; */
    margin-top: 30px;
    /* margin-top: 60px; */
  }

  .left-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  /* .Home{
    flex-direction: column;

  } */
}

@media (max-width: 476px) {}