.Navbar{
    height: 90px;
    background-color: #FFFFFF;
    /* background-color: transparent; */
 

    
}


@media (max-width: 366px){
   
    .navserch input{
        width: 100px;
    
    }
    .navserch{
        margin-right: 20px;
    }
  .Navar-logo{
    margin-left: 20px;
  }
    .Cart{
        font-size: 16px;
        margin-left: 7px;
    }
    .menu-btns{
        /* margin-left: 7px; */
        font-size: 21px;
    }
    .navfirst{
        padding: 0px;
    }
    .text{
        font-size: 14px;
       }
}

@media (max-width: 375px){
   
    .navserch input{
        width: 100px;
    }
    .Navar-logo{
    }
     
    .Cart{
        font-size: 16px;
        margin-left: 7px;
    }
 
    .text{
        font-size: 14px;

    }
    .navserch a{
        font-size: 14px;
    }
    .menu-btn{
        font-size: 18px;
    }
   .Navar-logo text{
    margin-right: 10px;
   }
   .Navar-logo svg{
    font-size: 10px;
   }
}

@media (max-width: 320px){
   
    .navserch input{
        width: 90px;
        height: 30px;
        padding-top: 5px;
        font-size: 10px;
    }
    /* .navserch a{
        font-size: 10px;
    }
    .menu-btn{
        font-size: 16px;
    } */
    .text{
        font-size: 12px;
       }
       .navserch a{
        font-size: 14px;
    }
    .menu-btn{
        font-size: 18px;
    }
 
   .Navar-logo{
    font-size: 13px;
    margin-right: 10px;
   }
   .Navar-logo svg{
    font-size: 10px;
   }
}
@media (max-width: 864px){
   
    .navserch input{
        width: 90px;
        height: 30px;
        padding-top: 5px;
        /* font-size: 10px; */
    }
    /* .navserch a{
        font-size: 10px;
    } */
    .menu-btn{
        font-size: 16px;
    }
 
   .Navar-logo{
    font-size: 15px;
    margin-right: 10px;
   }
   .Navar-logo svg{
    font-size: 10px;
   }
}
@media (max-width: 768px){
   .navfirst{
    justify-content: space-between;
   }
  
}