@tailwind base;
@tailwind components;
@tailwind utilities;
/* p{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 ,button {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  } 
  html{
    scroll-behavior: smooth;
  } */